<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.incrediblekids.activities"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    	android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        
        <activity android:name=".MainThemeActivity"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.NoTitleBar"
				  android:screenOrientation="landscape" >
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
				  
		<activity android:name=".ThemeItemActivity"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.NoTitleBar"
				  android:screenOrientation="landscape" />
				  
	    <!--  
	    <activity android:name="SummaryQuiz"
				  android:theme="@android:style/Theme.NoTitleBar"
				  android:screenOrientation="landscape">
	    </activity>
	    -->
	    <activity android:name="PreviewWords"
	    		  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
	    		  android:screenOrientation="landscape"/>
	    <activity android:name=".ItemPicActivity"
	    		  android:theme="@android:style/Theme.NoTitleBar"
	    		  android:screenOrientation="landscape"
	    		  android:configChanges="orientation|keyboardHidden"/>
	    <activity android:name="MatchQuiz"
				  android:screenOrientation="landscape" />
				  
</application>
    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" /> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 